footer
	.footer-top
		.container
			.footer-title
				h1 Нам
				h3 Доверяют
			.footer-carousel
				ul.owl-carousel
					li
						img(src="images/content/999.jpg")
					li
						img(src="images/content/999.jpg")
					li
						img(src="images/content/999.jpg")
					li
						img(src="images/content/999.jpg")
					li
						img(src="images/content/999.jpg")
					li
						img(src="images/content/999.jpg")
	.footer-bottom
		.container
			.footer-wrap
				.footer-bottom__items
					.footer-bottom__list
						.footer-list
							.fcall
							span +998 (71) 150-74-39
						.footer-list
							.fmarker
							span Республика Узбекистан, Ташкентская область, Зангиатинский район, улица Навруз 236А
						.footer-list
							.fmail
							span info@healthline.uz
						.footer-list
							span © СП ООО «Asia Trade», 2018
				.korden
					a(href="http://korden.uz/")
						span.korden-logo
						span интернет-лаборатория
						p создание сайтов в Ташкенте
			.footer-menu
				.footer-menu__wrapper
					#back-top
						+svg("up")
						span
							| Вверх
					.mobile-menu
						.menu-btn
							a(href="javascript:void(0);")#menu
								span
									| Меню
								+svg("burger")
					.open-menu
						.container
							.open-menu__wrapper
								.close-btn
									a(href="javascript:void(0);")#cmenu
										span
											| закрыть
								.menu-list
									ul
										li
											span 01
											a(href="/")
												| Главная
										li.submenu
											span 02
											a(href="javascript:void(0);")
												| Каталог Продукции
											ul
												li
													a(href="javascript:void(0);")
														| для Инфузионной терапии
												li
													a(href="javascript:void(0);")
														| для Общей  терапии
												li
													a(href="javascript:void(0);")
														| для Анестезиологии и интенсивной терапии
												li
													a(href="javascript:void(0);")
														| для АкушерствА и гинекологии
												li
													a(href="javascript:void(0);")
														| для Урологии
												li
													a(href="javascript:void(0);")
														| для Хирургии
												li
													a(href="javascript:void(0);")
														| для Гастроэнтерологии
										li.submenu
											span 03
											a(href="javascript:void(0);")
												| О компании
											ul
												li
													a(href="javascript:void(0);")
														| Философия компании
												li
													a(href="javascript:void(0);")
														| История компании
												li
													a(href="javascript:void(0);")
														| Новости компании
												li
													a(href="javascript:void(0);")
														| Обращение руководителя
												li
													a(href="javascript:void(0);")
														| Сертификаты и награды
												li
													a(href="javascript:void(0);")
														| Фотогалерея
												li
													a(href="javascript:void(0);")
														| Видеоблог
										li.submenu
											span 04
											a(href="javascript:void(0);")
												| Политика качества
											ul
												li
													a(href="javascript:void(0);")
														| Стандарты качества
												li
													a(href="javascript:void(0);")
														| Лабаратория
										li
											span 05
											a(href="javascript:void(0);")
												| Нам доверяют
										li
											span 06
											a(href="javascript:void(0);")
												| Карьера
										li
											span 07
											a(href="javascript:void(0);")
												| Контакты
								.menu-info
									.menu-info__left
										+svg("call")
										a(href="javascriptVoid(0);")
											span Заказать звонок
									.menu-info__right
										+svg("list")
										a(href="javascriptVoid(0);")
											span оформить заказ
									.menu-info__bottom
										+svg("call-center")
										.menu-info__text
											| Круглосуточная Служба поддержки
											span
												| клиентов:
										.menu-info__num
											| +998 (71)
											span
												| 150-44-22
