append vars
	- defaultLink = 'javascript:void(0);'
header
	.header-wrapper
		.mobile-header
			.header-top
				.container
					.row
						.header-logo
							a(href="/")
								img(src="logo.png" alt="logo")
						.header-left__wrapper
							.header-left
								.header-lang
									span
										| Выберите язык:
									ul.lang-menu
										li
											a(href="javascriptVoid(0);")
												| Рус
												img(src="images/icons/rus.png")
										ul.submenu
											li
												a(href="javascriptVoid(0);")
													| O’zb
													img(src="images/icons/uzb.png")
											li
												a(href="javascriptVoid(0);")
													| Узб
													img(src="images/icons/uzb.png")
								.header-social
									span
										| Мы в социальных сетях:
									a(href="javascriptVoid(0);").fb
										| facebook
							.header-callback
								+svg("call-center")
								.header-callback__num
									| +998 (71)
									span
										| 150-44-22
		.header-top
			.container
				.row
					.header-logo
						a(href="/")
							img(src="logo.png" alt="logo")
					.header-left__wrapper
						.header-left
							.header-lang
								span
									| Выберите язык:
								ul.lang-menu
									li
										a(href="javascriptVoid(0);")
											| Рус
											img(src="images/icons/rus.png")
									ul.submenu
										li
											a(href="javascriptVoid(0);")
												| O’zb
												img(src="images/icons/uzb.png")
										li
											a(href="javascriptVoid(0);")
												| Узб
												img(src="images/icons/uzb.png")
							.header-social
								span
									| Мы в социальных сетях:
								a(href="javascriptVoid(0);").fb
									| facebook
						.header-callback
							+svg("call-center")
							.header-callback__text
								| Круглосуточная Служба поддержки
								span
									| клиентов:
							.header-callback__num
								| +998 (71)
								span
									| 150-44-22
						.header-form
							.header-form__top
								+svg("call")
								a(href="javascriptVoid(0);")
									span Заказать звонок
							.header-form__bottom
								+svg("list")
								a(href="javascriptVoid(0);")
									span оформить заказ
		.header-bottom
			.container
				.header-menu
					ul.header-menu__list
						li
							a(href="/").home
								+svg("home")
						li.menu-list.is-active
							span
								| Каталог Продукции
							ul.submenu
								li
									a(href="javascript:void(0);")
										| для Инфузионной терапии
								li
									a(href="javascript:void(0);")
										| для Общей  терапии
								li
									a(href="javascript:void(0);")
										| для Анестезиологии и интенсивной терапии
								li
									a(href="javascript:void(0);")
										| для АкушерствА и гинекологии
								li
									a(href="javascript:void(0);")
										| для Урологии
								li
									a(href="javascript:void(0);")
										| для Хирургии
								li
									a(href="javascript:void(0);")
										| для Гастроэнтерологии
						li.menu-list
							span
								| О компании
							ul.submenu
								li
									a(href="javascript:void(0);")
										| для Инфузионной терапии
								li
									a(href="javascript:void(0);")
										| для Общей  терапии
								li
									a(href="javascript:void(0);")
										| для Анестезиологии и интенсивной терапии
								li
									a(href="javascript:void(0);")
										| для АкушерствА и гинекологии
								li
									a(href="javascript:void(0);")
										| для Урологии
								li
									a(href="javascript:void(0);")
										| для Хирургии
								li
									a(href="javascript:void(0);")
										| для Гастроэнтерологии
						li.menu-list
							span
								| стандарты качества
							ul.submenu
								li
									a(href="javascript:void(0);")
										| для Инфузионной терапии
								li
									a(href="javascript:void(0);")
										| для Общей  терапии
								li
									a(href="javascript:void(0);")
										| для Анестезиологии и интенсивной терапии
								li
									a(href="javascript:void(0);")
										| для АкушерствА и гинекологии
								li
									a(href="javascript:void(0);")
										| для Урологии
								li
									a(href="javascript:void(0);")
										| для Хирургии
								li
									a(href="javascript:void(0);")
										| для Гастроэнтерологии
						li
							a(href="javascript:void(0);")
								| Нам доверяют
						li
							a(href="javascript:void(0);")
								| Карьера
						li
							a(href="javascript:void(0);")
								| Контакты
				.header-slider
					.header-slider__title
						h1
							| Производство
						h2
							| одноразовых изделий
						h3
							| медицинского назначения
					.header-slider__wrapper
						nav.slider
							ul.owl-carousel
								li
									a(href="#one").activ
										.slider-img
											span.bg-1
										.slider-text
											|  для инфузионной терапии
								li
									a(href="#two")
										.slider-img
											span.bg-2
										.slider-text
											|  для общей терапии
								li
									a(href="#three")
										.slider-img
											span.bg-3
										.slider-text
											|  для Анестезиологии и интенсивной терап
								li
									a(href="#four")
										.slider-img
											span.bg-4
										.slider-text
											|  для Акушерства и гинекологии
								li
									a(href="#five")
										.slider-img
											span.bg-5
										.slider-text
											|  для Урологии
								li
									a(href="#sex")
										.slider-img
											span.bg-6
										.slider-text
											| для хирургии
								li
									a(href="#seven")
										.slider-img
											span.bg-7
										.slider-text
											| для Гастроэнтерологии
							span.bg-nav
