extends pug/base

append vars
	- title = 'Фотогалерея'
	- meta.description = 'Описание страницы'
	- meta.viewport = 'width=device-width, initial-scale=1'
	- link.icon = 'favicon.ico'
	- meta.formatDetection = 'telephone=no'
	- meta.themeColor = '#005931'
	- defaultLink = 'javascript:void(0);'
	- body.classList = ['inner-page'];
block content
	.wrapper
		include pug/pages/header
		section.page
			.container
				.crumbs
					ul
						li
							a(href=`javascript:void(0);`)
								| Главная
						li
							a(href=`javascript:void(0);`)
								| Фотогалерея
						li
							| Категория фотогалереи
					.crumbs-title
						| Категория фотогалереи
				.inner-content
					.sidebar
						ul
							li
								a(href="javascript:void(0);")
									| Философия компании
							li
								a(href="javascript:void(0);")
									| История компании
							li
								a(href="javascript:void(0);")
									| Новости компании
							li
								a(href="javascript:void(0);")
									| Обращение руководителя
							li
								a(href="javascript:void(0);")
									| Сертификаты и награды
							li.active
								a(href="javascript:void(0);")
									| Фотогалерея
							li
								a(href="javascript:void(0);")
									| Видеоблог
					.main-page
						.gallery-block__inner
							ul.gallery-block__items
								li
									a(href="images/content/3.jpg" data-fancybox="gallery")
										img(src="images/content/3.jpg")
								li
									a(href="images/content/3.jpg" data-fancybox="gallery")
										img(src="images/content/3.jpg")
								li
									a(href="images/content/3.jpg" data-fancybox="gallery")
										img(src="images/content/3.jpg")
								li
									a(href="images/content/3.jpg" data-fancybox="gallery")
										img(src="images/content/3.jpg")
								li
									a(href="images/content/3.jpg" data-fancybox="gallery")
										img(src="images/content/3.jpg")
								li
									a(href="images/content/3.jpg" data-fancybox="gallery")
										img(src="images/content/3.jpg")
								li
									a(href="images/content/3.jpg" data-fancybox="gallery")
										img(src="images/content/3.jpg")
								li
									a(href="images/content/3.jpg" data-fancybox="gallery")
										img(src="images/content/3.jpg")
								li
									a(href="images/content/3.jpg" data-fancybox="gallery")
										img(src="images/content/3.jpg")
								li
									a(href="images/content/3.jpg" data-fancybox="gallery")
										img(src="images/content/3.jpg")
								li
									a(href="images/content/3.jpg" data-fancybox="gallery")
										img(src="images/content/3.jpg")
								li
									a(href="images/content/3.jpg" data-fancybox="gallery")
										img(src="images/content/3.jpg")
								li
									a(href="images/content/3.jpg" data-fancybox="gallery")
										img(src="images/content/3.jpg")
								li
									a(href="images/content/3.jpg" data-fancybox="gallery")
										img(src="images/content/3.jpg")
								li
									a(href="images/content/3.jpg" data-fancybox="gallery")
										img(src="images/content/3.jpg")
		include pug/pages/footer
