extends pug/base

append vars
	- title = 'Сертификаты и награды'
	- meta.description = 'Описание страницы'
	- meta.viewport = 'width=device-width, initial-scale=1'
	- link.icon = 'favicon.ico'
	- meta.formatDetection = 'telephone=no'
	- meta.themeColor = '#005931'
	- defaultLink = 'javascript:void(0);'
	- body.classList = ['inner-page'];
block content
	.wrapper
		include pug/pages/header
		section.page
			.container
				.crumbs
					ul
						li
							a(href=`javascript:void(0);`)
								| Главная
						li
							| Сертификаты и награды
					.crumbs-title
						| Сертификаты и награды
				.inner-content
					.sidebar
						ul
							li
								a(href="javascript:void(0);")
									| Философия компании
							li
								a(href="javascript:void(0);")
									| История компании
							li
								a(href="javascript:void(0);")
									| Новости компании
							li
								a(href="javascript:void(0);")
									| Обращение руководителя
							li.active
								a(href="javascript:void(0);")
									| Сертификаты и награды
							li
								a(href="javascript:void(0);")
									| Фотогалерея
							li
								a(href="javascript:void(0);")
									| Видеоблог
					.main-page
						ul.sertificate
							li
								a(href="images/content/sertificate.jpg" data-fancybox="images")
									span.sertificate-img
										img(src="images/content/sertificate.jpg")
										span.zoom
									span.sertificate-title
										| Пример оформления заголовка
							li
								a(href="images/content/sertificate.jpg" data-fancybox="images")
									span.sertificate-img
										img(src="images/content/sertificate.jpg")
										span.zoom
									span.sertificate-title
										| Пример оформления заголовка Пример в две строки
							li
								a(href="images/content/sertificate.jpg" data-fancybox="images")
									span.sertificate-img
										img(src="images/content/sertificate.jpg")
										span.zoom
									span.sertificate-title
										| Пример оформления заголовка
							li
								a(href="images/content/sertificate.jpg" data-fancybox="images")
									span.sertificate-img
										img(src="images/content/sertificate.jpg")
										span.zoom
									span.sertificate-title
										| Пример оформления заголовка
							li
								a(href="images/content/sertificate.jpg" data-fancybox="images")
									span.sertificate-img
										img(src="images/content/sertificate.jpg")
										span.zoom
									span.sertificate-title
										| Пример оформления заголовка

							li
								a(href="images/content/sertificate.jpg" data-fancybox="images")
									span.sertificate-img
										img(src="images/content/sertificate.jpg")
										span.zoom
									span.sertificate-title
										| Пример оформления заголовка
							li
								a(href="images/content/sertificate.jpg" data-fancybox="images")
									span.sertificate-img
										img(src="images/content/sertificate.jpg")
										span.zoom
									span.sertificate-title
										| Пример оформления заголовка
							li
								a(href="images/content/sertificate.jpg" data-fancybox="images")
									span.sertificate-img
										img(src="images/content/sertificate.jpg")
										span.zoom
									span.sertificate-title
										| Пример оформления заголовка Пример в две строки
							li
								a(href="images/content/sertificate.jpg" data-fancybox="images")
									span.sertificate-img
										img(src="images/content/sertificate.jpg")
										span.zoom
									span.sertificate-title
										| Пример оформления заголовка
		include pug/pages/footer
