extends pug/base

append vars
	- title = 'Видеоблог'
	- meta.description = 'Описание страницы'
	- meta.viewport = 'width=device-width, initial-scale=1'
	- link.icon = 'favicon.ico'
	- meta.formatDetection = 'telephone=no'
	- meta.themeColor = '#005931'
	- defaultLink = 'javascript:void(0);'
	- body.classList = ['inner-page'];
block content
	.wrapper
		include pug/pages/header
		section.page
			.container
				.crumbs
					ul
						li
							a(href=`javascript:void(0);`)
								| Главная
						li
							| Видеоблог
					.crumbs-title
						| Видеоблог
				.inner-content
					.sidebar
						ul
							li
								a(href="javascript:void(0);")
									| Философия компании
							li
								a(href="javascript:void(0);")
									| История компании
							li
								a(href="javascript:void(0);")
									| Новости компании
							li
								a(href="javascript:void(0);")
									| Обращение руководителя
							li
								a(href="javascript:void(0);")
									| Сертификаты и награды
							li
								a(href="javascript:void(0);")
									| Фотогалерея
							li.active
								a(href="javascript:void(0);")
									| Видеоблог
					.main-page
						.video
							.video-lates
								.video-lates__img
									img(src="images/content/2.jpg")
								.video-lates__info
									.video-lates__title
										h1
											| Пример оформления анонса.
										span.date
											| 21.05.2018
									.video-btn
										a(href="javascript:void(0);").btn
											| Смотреть
							.video-other
								ul
									li
										a(href="javascript:void(0);")
											.video-other__img
												img(src="images/content/3.jpg")
											.video-other__title
												span
													| Пример оформления анонса
											.video-other__date
												span.date
													| 21.05.2018
											.btn
												| Смотреть
									li
										a(href="javascript:void(0);")
											.video-other__img
												img(src="images/content/4.jpg")
											.video-other__title
												span
													| Пример оформления анонса пример в две строки
											.video-other__date
												span.date
													| 21.05.2018
											.btn
												| Смотреть
									li
										a(href="javascript:void(0);")
											.video-other__img
												img(src="images/content/4.jpg")
											.video-other__title
												span
													| Пример оформления анонса
											.video-other__date
												span.date
													| 21.05.2018
											.btn
												| Смотреть
									li
										a(href="javascript:void(0);")
											.video-other__img
												img(src="images/content/4.jpg")
											.video-other__title
												span
													| Пример оформления анонса
											.video-other__date
												span.date
													| 21.05.2018
											.btn
												| Смотреть
									li
										a(href="javascript:void(0);")
											.video-other__img
												img(src="images/content/4.jpg")
											.video-other__title
												span
													| Пример оформления анонса
											.video-other__date
												span.date
													| 21.05.2018
											.btn
												| Смотреть
									li
										a(href="javascript:void(0);")
											.video-other__img
												img(src="images/content/4.jpg")
											.video-other__title
												span
													| Пример оформления анонса
											.video-other__date
												span.date
													| 21.05.2018
											.btn
												| Смотреть
							ul.pagination
								li
									a(href="javascript:void(0);")
										| Предыдущая
								li
									a(href="javascript:void(0);")
										| 1
								li.active
									a(href="javascript:void(0);")
										| 2
								li
									a(href="javascript:void(0);")
										| 3
								li.dots
									a(href="javascript:void(0);")
										| ....
								li
									a(href="javascript:void(0);")
										| 10
								li
									a(href="javascript:void(0);")
										| Следующая
		include pug/pages/footer
