extends pug/base

append vars
	- title = 'Лаборатория'
	- meta.description = 'Описание страницы'
	- meta.viewport = 'width=device-width, initial-scale=1'
	- link.icon = 'favicon.ico'
	- meta.formatDetection = 'telephone=no'
	- meta.themeColor = '#005931'
	- defaultLink = 'javascript:void(0);'
	- body.classList = ['inner-page'];
block content
	.wrapper
		include pug/pages/header
		section.page
			.container
				.crumbs
					ul
						li
							a(href=`javascript:void(0);`)
								| Главная
						li
							| Лаборатория
					.crumbs-title
						| Лаборатория
				.inner-content
					.sidebar
						ul
							li
								a(href="javascript:void(0);")
									| Стандарты качества
							li.active
								a(href="javascript:void(0);")
									| Лаборатория
					.main-page
						.default-page
							img(src="images/content/placeholder.jpg" style="float: left;")
							p
								| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов. Распишите о разделах сайта, необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид
							h1
								| Заголовок H1. <br> Пример заголовка в две строки
							p
								| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей.
							p
								| Абзац! Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
							h2
								| Заголовок H2. <br> Пример заголовка в две строки
							p
								| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей.
							h3
								| Заголовок H3. <br> Пример заголовка в две строки
							p
								| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей.
							ul
								li
									| Оформление маркировки текста
								li
									| Оформление маркировки текста
								li
									| Оформление маркировки текста
								li
									| Оформление маркировки текста
							p
								| Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
							b
								| Пример оформления жирности шрифта на сайте
							br
							i
								| Пример оформления жирности шрифта на сайте
							br
							u
								| Пример оформления жирности шрифта на сайте
							br
							a
								| Пример оформления жирности шрифта на сайте
							br
							a.hover
								| Пример оформления жирности шрифта на сайте
							h4
								| Заголовок H4. <br> Пример заголовка в две строки
							p
								| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей.
							h5
								| Заголовок H5. <br> Пример заголовка в две строки
							p
								| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей.
							table
								tr
									th
										| Заголовок таблицы H5
									th
										| Заголовок таблицы H5
									th
										| Заголовок таблицы H5
								tr
									td
										| Образец наполнения полей
									td
										| Образец наполнения полей
									td
										| Образец наполнения полей
								tr
									td
										| Образец наполнения полей.
										| Образец в две и более строк
									td
										| Образец наполнения полей.
										| Образец в две и более строк
									td
										| Образец наполнения полей.
										| Образец в две и более строк
		include pug/pages/footer
