extends pug/base

append vars
	- title = 'Название вакансии'
	- meta.description = 'Описание страницы'
	- meta.viewport = 'width=device-width, initial-scale=1'
	- link.icon = 'favicon.ico'
	- meta.formatDetection = 'telephone=no'
	- meta.themeColor = '#005931'
	- defaultLink = 'javascript:void(0);'
	- body.classList = ['inner-page'];
block content
	.wrapper
		include pug/pages/header
		section.page
			.container
				.crumbs
					ul
						li
							a(href=`javascript:void(0);`)
								| Главная
						li
							a(href=`javascript:void(0);`)
								| Карьера
						li
							| Название вакансии
					.crumbs-title
						| Название вакансии
				.inner-content
					.career-cart
						.career-img
							img(src="images/content/3.jpg")
						.career-date
							span
								| 21.05.2018
						.respon
							h4
								| Должностные обязанности:
							ul
								li
									| Оформление маркировки текста
								li
									| Не стоит перегружать текст терминами или писать объемный лаконичное и интересное описание Вашей компании, полностью вид деятельности, достижения и плюсы.
								li
									| Оформление маркировки текста
								li
									| Не стоит перегружать текст терминами или писать объемный материал. Создайте
									|     лаконичное и интересное описание Вашей компании, полностью раскрывающее
									|     вид деятельности, достижения и плюсы.
								li
									| Оформление маркировки текста
								li
									| Не стоит перегружать текст терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
								li
									| Оформление маркировки текста
						.required
							h4
								| Требования к соискателю:
							dl
								dt
									| ПОЛ:
								dd
									| Мужской/Женский/Не имеет значение
							dl
								dt
									| Возраст:
								dd
									| От 20 до 30 лет
							dl
								dt
									| Образование:
								dd
									| Высшее оконченное/Высшее неоконченное/Среднее специальное /Среднее/Не имеет значения
							dl
								dt
									| Знание языков:
								dd
									| Текст с условием
							dl
								dt
									| Знания компьютера:
								dd
									| Текст с условием
							dl
								dt
									| Дополнительные требования:
								dd
									ul
										li
											| Оформление маркировки текста
										li
											| Не стоит перегружать текст специальными терминами и информацией Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
										li
											| Оформление маркировки текста
										li
											| Не стоит перегружать текст специальными терминами или писать
											| объемный материал.
											| Создайте лаконичное и интересное описание Вашей компании,
											| полностью раскрывающее
											| вид деятельности, достижения и плюсы.
										li
											| Оформление маркировки текста
										li
											| Не стоит перегружать текст специальными терминами или писать
											| объемный материал.
											| Создайте лаконичное и интересное описание Вашей компании,
											| полностью раскрывающее
											| вид деятельности, достижения и плюсы.
						.condition
							h4
								| Условия работы:
							ul
								li
									| Оформление маркировки текста
								li
									| Не стоит перегружать текст специальными терминами или писать объемный материал.
								li
									| Оформление маркировки текста
								li
									| Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте
									| лаконичное и интересное описание
									| Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
								li
									| Оформление маркировки текста
						.link
							a(href="javascript:void(0);").back-btn
								+svg("enter")
								span
									| Назад
		include pug/pages/footer
